@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin-left: 0;
    margin-right: 0;

}
.logo{
    width: 70px;
    height: 100px;
}

.usercamille{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

hr{
    margin-top: -20px;
}
.nom{
   display: flex; 
   flex-direction: row;
   align-items: center;
   font-weight: 1000;
   font-size: 14px;
}
.userfanny1{
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.userpauline1{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    transform: translate(-10px)
}
.selection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.texte1{
    margin-bottom: -20px;
}
.votez{
    margin-bottom:-7px ;
}
.plats{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 24px;
    margin-right: -55px;
}
.lasagne{
    width: 168px;
    height: 80px;
    border-radius: 5px;
}
.couscous{
    width: 168px;
    height: 80px;
    border-radius: 5px;
}
.pizza{
    width: 168px;
    height: 80px;
    border-radius: 5px;
}
.camillevote{
    height: 29px;
    width: 29px;
    border-radius: 100%;
    transform: translate(-50px);
    border: white solid 1px;
    margin-top: 70px;
}

.fannyvote{
    height: 29px;
    width: 29px;
    border-radius: 100%;
    transform: translate(-70px);
    border: white solid 1px;
    margin-top: 70px;
    padding-right: 0px;
}

.paulinevote{
    height: 29px;
    width: 29px;
    border-radius: 100%;
    transform: translate(-70px);
    border: white solid 1px;
    margin-top: 70px;
    padding-right: 0px;
    padding-right: 0 ;
}
.messagecamille{
    display: flex;
    justify-content: flex-end;
}
.Vous{
    color: #D7D7D7;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: -5px;
    margin-right: 10px;
}
.forme1{
    background-color: #202020;
    width: 166px;
    height: 31px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.forme1 p{
    color: white;
    font-size: 16px;
    margin-top: 3px;
}
.forme2{
    background-color: #F6F6F6;
    width: 98px;
    height: 31px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
}
.pouce{
    font-size: 37px;
    margin-bottom: 5px;
}
.forme2 p{
    margin-top: 3px;
    font-size: 16px;
}
.forme3{
    background-color: #F6F6F6;
    width: 208px;
    height: 31px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.forme3 p{
    margin-top: 3px;
}
.fanny{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
.fannynom{
    color: #D7D7D7;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -5px;
    margin-right: 10px;
    margin-top: 75px;
}
.messagenom2{
    margin-left:5px;
}
.messagefanny{
    display: flex;
    flex-direction: row;
}
.paulinenom{
    color: #D7D7D7;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -5px;
    margin-right: 10px;
    margin-top: 10px;
}
.pauline{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-top: 5px;
}

.forme4{
    background-color: #F6F6F6;
    width: 90px;
    height: 31px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    margin-top: 13px;
}
.forme4 p{
    margin-top: 3px;
}
.messagepauline{
    display: flex;
    flex-direction: row;
}
.choixfinal{
    background-color: #54F1A6;
    width: 300px;
    border-radius: 4px;
    margin-top: 28px ;
}
.casemessage{
    width: 360px;
    height: 34px ;
    border-radius: 27px;
    background-color: #F6F6F6;
    margin-top: 25px;
    display: flex;
}
.casemessage p{
    color: #CDCDCD;
    padding-top: 5px;
}
.icon{
    margin-top: 5px;
    margin-left: 175px;
}